{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h1>Top Headlines</h1>
    {% for hope in top_headlines %}
    {% if hope.urlToImage %}
  <div class="row">
      
    <div class="col-md-12">

     
      

      <div class="view overlay z-depth-1-half">
        <img src="{{hope.urlToImage}}" class="img-fluid img-responsive" style="height: 20rem;">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <h4 class="my-4 font-weight-bold">{{hope.title|truncate(30)}}</h4>
      <p class="grey-text">{{hope.description|truncate(30)}}</p>
      <p>by <a><strong>{{hope.author}}</strong></a>, {{hope.publishedAt}} </p>
      <a href="{{hope.url}}" class="btn btn-primary btn-md">Read more</a>


    </div>
    
  </div>
  {% endif %}
    {% endfor %}
</div>
{% endblock %}